body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	line-height: normal;
}
		
*:focus {
	outline: none !important;
}

p {
	font-size: 1.6em;
}
		
h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
}
		
hr {
	border-color: grey;
}

a {
	color: #29A6E6;
}

a:hover {
	color: #1B9DE0;
}

/* Global */
.white-text {
	color: #FFFFFF !important;
}
		
.dogefont {
	font-family: 'Oswald', sans-serif;
}

.hr-white {
	border-color: white;
}

/* Header */
.bgheader {
	background-color: #f2ede0;
}

.padheader {
	padding-top: 20px;
}

.dogefont-header {
	font-size: 5.2em;
	line-height: 1em;
	margin-bottom: 18px;
}

.header-desc {
	padding-top: 7px;
}

.dogefont-start {
	display: inline-block;
	margin-top: 5px;
}

.watch-video {
	position: absolute;
	margin-top: 210px;
	margin-left: 150px;
	border: 2px solid #7a6a29;
	border-radius: 1px;
	cursor: pointer;
}

.watch-video:hover {
    border: 2px solid #ba9f33;
}

.wallet-button {
	border-radius: 0px !important;
}

.logo {
    max-width: 300px;
}

.video {
    max-width: 528px;
}

.bottombar {
	background-color: #1e4151;
	padding-bottom: 12px;
	padding-top: 12px;
	margin-top: -4px;
}
		
.downloads {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding-bottom: 22px;
}

.btn-md {
    padding: 7px 14px;
    font-size: 14px;
    line-height: normal;
}

/* First Info Container */
.bginfo-one {
	background-color: #F2A51F;
}

.padinfo-one {
	padding-bottom: 20px;
	padding-top: 25px;
}

/* Second Info Container */
.bginfo-two {
	background-color: #76C421;
}

.padinfo-two {
	padding-top: 5%;
}

.youtube-alt {
	padding-bottom: 50px;
}

/* Third Info Container */
.bginfo-three {
	background-color: #019cde;
}

.padinfo-three {
	padding-bottom: 20px;
	padding-top: 50px;
}

/* Footer */
.footer-padding {
	padding-top: 10px;
}
		
.btn-circle {
	width: 180px;
	height: 180px;	
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 90px;
	border-color: grey;
	text-align: center;
	border-size: 5px;
}

.circle-center {
	padding-top: 19px;
}

.btn-rowpad {
	padding-top: 15px;
}

/* Modals */
.note {
    color: #888;
}

/* @media */
@media (max-width: 767px) {
	.btn-padding {
		padding-top: 10px;
	}
}

/* Custom Buttons */
/* Blackberry */
.btn-blackberry { 
  color: #ffffff; 
  background-color: #363636; 
} 
 
.btn-blackberry:hover, 
.btn-blackberry:focus, 
.btn-blackberry:active, 
.btn-blackberry.active, 
.open .dropdown-toggle.btn-blackberry { 
  color: #ffffff; 
  background-color: #303030; 
} 
 
.btn-blackberry:active, 
.btn-blackberry.active, 
.open .dropdown-toggle.btn-blackberry { 
  background-image: none; 
} 
 
.btn-blackberry.disabled, 
.btn-blackberry[disabled], 
fieldset[disabled] .btn-blackberry, 
.btn-blackberry.disabled:hover, 
.btn-blackberry[disabled]:hover, 
fieldset[disabled] .btn-blackberry:hover, 
.btn-blackberry.disabled:focus, 
.btn-blackberry[disabled]:focus, 
fieldset[disabled] .btn-blackberry:focus, 
.btn-blackberry.disabled:active, 
.btn-blackberry[disabled]:active, 
fieldset[disabled] .btn-blackberry:active, 
.btn-blackberry.disabled.active, 
.btn-blackberry[disabled].active, 
fieldset[disabled] .btn-blackberry.active { 
  background-color: #363636; 
} 
 
.btn-blackberry .badge { 
  color: #363636; 
  background-color: #ffffff; 
}

/* Android */
.btn-android { 
  color: #FFFFFF; 
  background-color: #52C752; 
} 
 
.btn-android:hover, 
.btn-android:focus, 
.btn-android:active, 
.btn-android.active, 
.open .dropdown-toggle.btn-android { 
  color: #FFFFFF; 
  background-color: #3EBD3E; 
} 
 
.btn-android:active, 
.btn-android.active, 
.open .dropdown-toggle.btn-android { 
  background-image: none; 
} 
 
.btn-android.disabled, 
.btn-android[disabled], 
fieldset[disabled] .btn-android, 
.btn-android.disabled:hover, 
.btn-android[disabled]:hover, 
fieldset[disabled] .btn-android:hover, 
.btn-android.disabled:focus, 
.btn-android[disabled]:focus, 
fieldset[disabled] .btn-android:focus, 
.btn-android.disabled:active, 
.btn-android[disabled]:active, 
fieldset[disabled] .btn-android:active, 
.btn-android.disabled.active, 
.btn-android[disabled].active, 
fieldset[disabled] .btn-android.active { 
  background-color: #52C752; 
} 
 
.btn-android .badge { 
  color: #52C752; 
  background-color: #FFFFFF; 
}

.btn-ios { 
  color: #FFFFFF; 
  background-color: #909499; 
  border-color: #909499; 
} 
 
.btn-ios:hover, 
.btn-ios:focus, 
.btn-ios:active, 
.btn-ios.active, 
.open .dropdown-toggle.btn-ios { 
  color: #FFFFFF; 
  background-color: #80858A; 
  border-color: #909499; 
} 
 
.btn-ios:active, 
.btn-ios.active, 
.open .dropdown-toggle.btn-ios { 
  background-image: none; 
} 
 
.btn-ios.disabled, 
.btn-ios[disabled], 
fieldset[disabled] .btn-ios, 
.btn-ios.disabled:hover, 
.btn-ios[disabled]:hover, 
fieldset[disabled] .btn-ios:hover, 
.btn-ios.disabled:focus, 
.btn-ios[disabled]:focus, 
fieldset[disabled] .btn-ios:focus, 
.btn-ios.disabled:active, 
.btn-ios[disabled]:active, 
fieldset[disabled] .btn-ios:active, 
.btn-ios.disabled.active, 
.btn-ios[disabled].active, 
fieldset[disabled] .btn-ios.active { 
  background-color: #909499; 
  border-color: #909499; 
} 
 
.btn-ios .badge { 
  color: #909499; 
  background-color: #FFFFFF; 
}
