@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: Biko;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.hero {
  padding-top: 10vh;
}

.hero-bg {
  position: absolute;
  top: 0;
  background: url("3.jpg");
  background-attachment: fixed;
  height: 70%;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.inner-hero {
  z-index: 999;
  margin: auto;
  max-width: 800px;
  text-align: center;
  color: white;
  position: relative;
}

h1 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.centered-container {
  margin: auto;
  max-width: 800px;
  text-align: center;
}

.detail {
  color: #cba84a;
  font-family: Montserrat, sans-serif
}

a {
  color: inherit;
}

.counter {
  background: url(./4.png);
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.counter>h1 {
  font-size: 3.5em;
  font-weight: 800;
}

.counterGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.4px;
}

.dogeDetails {
  margin-top: 20px;
  font-family: "Montserrat";
  font-size: 1.2em;
  line-height: 1.8;
}

.logoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.logoGridMobile {
  display: none;
}

.donateButton {
  margin: auto;
  margin-top: 60px;
  font-size: 2.3em;
  color: white;
  font-weight: 800;
  width: fit-content;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background: #cba84a;
  border-bottom: 12px solid #bb9839;
  text-decoration: none;
}

.donateButton:hover {
  border-bottom: none;
  /* border-bottom: 12px solid white; */
  /* margin-top: 42px; */
  margin-top: 72px;
}

.nftZone {
  background: #333333;
  min-height: 397px;
  width: 850px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  color: white;
  position: relative;
}

.nftWrapper {
  min-height: 497px;
  background: linear-gradient(90deg,
      rgba(225, 216, 173, 0) 0%,
      rgba(225, 216, 173, 0) 40%,
      rgba(247, 247, 249, 1) 40%),
    url("/8.png"),
    linear-gradient(90deg,
      rgba(225, 216, 173, 1) 0%,
      rgba(225, 216, 173, 1) 20%,
      rgba(225, 216, 173, 1) 20%);
  background-position-y: top;
  background-position-x: left;
  background-repeat: no-repeat;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showOnMobile {
  display: none;
}

.showOnMobileNFT {
  display: none;
}

@media screen and (max-width: 940px) {
  .nftZone {
    background: #333333;
    min-height: 397px;
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    position: relative;
  }

  .nftWrapper {
    min-height: 0px;
    background: linear-gradient(90deg,
        rgba(225, 216, 173, 0) 0%,
        rgba(225, 216, 173, 0) 40%,
        rgba(247, 247, 249, 1) 40%),
      url("/8.png"),
      linear-gradient(90deg,
        rgba(225, 216, 173, 1) 0%,
        rgba(225, 216, 173, 1) 20%,
        rgba(225, 216, 173, 1) 20%);
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hideOnMobileNFT {
    display: none;
  }

  .showOnMobileNFT {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .counter {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
  }

  .counter>h1 {
    font-size: 3.5em;
    font-weight: 800;
    margin-block-start: 0.27em;
    margin-block-end: 0.27em;
  }

  .counterGrid {
    gap: 0;
    max-width: 80%;
    margin: auto;
  }

  .dogeDetails {
    max-width: 90%;
    margin: auto;
    word-wrap: break-word;
  }

  .logoGridMobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 60%;
    margin: auto;
  }

  .logoGrid {
    display: none;
  }

  .hideOnMobile {
    display: none;
  }

  .donateButton {
    margin-top: 30px;
    width: fit-content;
    grid-template-columns: 1fr;
    padding: 0px 16px;
  }

  .nftZone {
    background: #333333;
    min-height: 397px;
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    position: relative;
  }

  .nftWrapper {
    min-height: 0px;
    background: linear-gradient(90deg,
        rgba(225, 216, 173, 0) 0%,
        rgba(225, 216, 173, 0) 40%,
        rgba(247, 247, 249, 1) 40%),
      url("/8.png"),
      linear-gradient(90deg,
        rgba(225, 216, 173, 1) 0%,
        rgba(225, 216, 173, 1) 20%,
        rgba(225, 216, 173, 1) 20%);
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .showOnMobile {
    display: block;
  }
}

header {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}

header video {
  width: 100%;
}

svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

svg text {
  font-family: Biko, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
}

svg rect {
  fill: white;
}

svg>rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
